.circle {
  width: 150;
  height: 150;
  background-color: red;
  border-radius: 50%;
  position: relative;
  top: 10px;
  }
  
  .star {
    left: 119px;
    background-color: white ;
    font-size: 21px;
    position: relative;
    top: 129px;
    border-radius: 50%;
    padding: 10px;
    
  }